* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #aad6de;
  height: 60vh;
  width: 40vw;
  border-top: 1px solid;
  border-radius: 20px;
}

h1 {
  padding: 1em 1em;
}

.btn {
  margin-top: 0.5em;
  padding: 0.5em 0.5em;
}

.result {
  padding: 1em 1em;
}
